body{
  margin: 0;
}
.main{
  height:'60%';
  width: '100%';
}
html{
  overflow-x: hidden;
  overflow:scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar{
  display: none;
}